# Testing KoDA fetching, parsing and transforming
This notebook explores how to fetch, parse and transform KoDA data for the prediction task.
The main source of how KoDa data is formatted and used is the [pykoda repo](https://github.com/KoDa-project/pykoda) from which large parts of the parsing code was adapted.

So far, the code is able to download static and realtime data and transform the realtime data into more compact data frames.

_TODO:_ For later convenience, there should probably also be a function which handles the entire process from (potentially) downloading the data to transforming it into a data frame.
That function should also handle deleting the downloaded zip files and the unzipped folders after the data has been transformed into feather files.


**Data exploration notes**:
- The static data is in GTFS txt files in a flat folder structure
- The realtime data is in Protocol Buffer files in a nested folder structure
- Some hours appear to have no realtime data (e.g. 2023-01-05-02) maybe some maintenance or downtime of the operator

**Outstanding questions**:
- Which features from `TripUpdates` are useful for our prediction task (also which aggregates to use)?
- Is there something useful in the static data for our prediction task or do we just use the realtime data?
- Are duplicates in the `TripUpdates` realtime data useful for our task?
    - It is not standardized how many updates are pushed per trip, but their information is likely useful
    - We'll try only using the latest tuple of (trip_id, stop_id, timestamp)
- Is there something in the `ServiceAlerts` or `VehiclePositions` realtime data that we need?

## Initial setup

In [ ]:
import koda.koda_fetch as kf
import koda.koda_parse as kp
import koda.koda_transform as kt
import shared.parse as sp
from shared.constants import FeedType, OperatorsWithRT, StaticDataTypes, route_types

In [ ]:
operator = OperatorsWithRT.X_TRAFIK
date = "2023-01-05"
feed_type = FeedType.TRIP_UPDATES
print(f"Fetching GTFS static data for {operator} on {date}")
static_zip_path = kf.fetch_gtfs_static_archive(operator, date)
print(f"Fetching GTFS realtime data for {operator} on {date}")
rt_zip_path = kf.fetch_gtfs_realtime_archive(operator, feed_type, date)

In [ ]:
hour = "13"

static_folder_path = sp.unzip_gtfs_archive(static_zip_path, kp.DATA_DIR)
print(f"Unzipped static data to {static_folder_path}")

rt_folder_path = sp.unzip_gtfs_archive(rt_zip_path, kp.DATA_DIR)
print(f"Unzipped realtime data to {rt_folder_path}")

df, _ = kt.read_rt_hour_to_df(operator, feed_type, date, hour)
print(f"Read {len(df)} rows from realtime data")
df

In [ ]:
# Warning: This may take some time
df, _ = kt.read_rt_day_to_df(operator, feed_type, date)
df

## Tests based on pre-processed feather files

In [1]:
import koda.koda_transform as kt
import pandas as pd

# Read the saved feather file
operator = "xt"
date = "2023-01-05"
feed_type = "TripUpdates"
hour = "13"
rt_feather_path = kt.get_rt_feather_path(operator, feed_type, date, hour)
df = pd.read_feather(rt_feather_path)
df

,index,id,trip_id,start_date,schedule_relationship,timestamp,vehicle_id,stop_sequence,stop_id,arrival_delay,arrival_time,departure_delay,departure_time,arrival_uncertainty,departure_uncertainty
0,7,217990500824825801,217990000029118861,20230105,SCHEDULED,1672919979,9031021000444433,72,9022021483109001,456,1672919388,475,1672919407,0.0,0.0
1,17,217990500824825801,217990000029118861,20230105,SCHEDULED,1672919979,9031021000444433,82,9022021421038002,496,1672919959,507,1672919970,0.0,NaN
2,30,217990500824825801,217990000029118861,20230105,SCHEDULED,1672919979,9031021000444433,95,9022021421073002,394,1672920600,395,1672920601,NaN,NaN
3,31,217990500824825801,217990000029118861,20230105,SCHEDULED,1672919979,9031021000444433,96,9022021421042002,391,1672920626,391,1672920626,NaN,NaN
4,32,217990500824825801,217990000029118861,20230105,SCHEDULED,1672919979,9031021000444433,97,9022021421047002,388,1672920649,418,1672920679,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54397,3310,217990500806555531,217990000029012757,20230105,SCHEDULED,1672923554,9031021001271564,46,9022021480077001,117,1672926750,122,1672926755,NaN,NaN
54398,3311,217990500806555531,217990000029012757,20230105,SCHEDULED,1672923554,9031021001271564,47,9022021480064001,88,1672926782,90,1672926784,NaN,NaN
54399,3312,217990500806555531,217990000029012757,20230105,SCHEDULED,1672923554,9031021001271564,48,9022021480062001,64,1672926808,69,1672926813,NaN,NaN
54400,3313,217990500806555531,217990000029012757,20230105,SCHEDULED,1672923554,9031021001271564,49,9022021480029001,11,1672926865,33,1672926887,NaN,NaN
54401,3314,217990500806555531,217990000029012757,20230105,SCHEDULED,1672923554,9031021001271564,50,9022021480063006,-124,1672927016,-124,1672927016,NaN,NaN

In [2]:
print(f"Read {len(df)} rows from realtime data")

# Specify the columns to keep
columns_to_keep = [
    'trip_id', 'start_date', 'timestamp',
    'vehicle_id', 'stop_sequence', 'stop_id', 'arrival_delay',
    'arrival_time', 'departure_delay', 'departure_time'
]

# Extract the specified columns into a new DataFrame
df_filtered = df[columns_to_keep]

# Get average amount of updates per trip
average_updates = df_filtered.groupby('trip_id').size().mean()
# Get average amount of updates per trip and stop
average_updates_per_stop = df_filtered.groupby(['trip_id', 'stop_id']).size().mean()

average_updates_per_stop

Read 54402 rows from realtime data

np.float64(6.322873082287308)

In [3]:
deduplicated = kt.keep_only_latest_stop_updates(df_filtered)
deduplicated

,trip_id,start_date,timestamp,vehicle_id,stop_sequence,stop_id,arrival_delay,arrival_time,departure_delay,departure_time
0,217990000023580585,20230105,1672923568,9031021001271515,4,9022021480091001,21,1672923156,34,1672923169
1,217990000023580585,20230105,1672923568,9031021001271515,20,9022021480095001,-89,1672924071,0,1672924160
2,217990000023580585,20230105,1672923568,9031021001271515,26,9022021480112001,-145,1672924275,0,1672924420
3,217990000023580585,20230105,1672923568,9031021001271515,17,9022021480143001,13,1672923913,13,1672923913
4,217990000023580585,20230105,1672923568,9031021001271515,12,9022021480155001,109,1672923565,109,1672923565
...,...,...,...,...,...,...,...,...,...,...
8599,217990000029918992,20230105,1672923346,9031021000441726,14,9022021480460001,219,1672922861,219,1672922861
8600,217990000029918992,20230105,1672923466,9031021000441726,30,9022021480461001,215,1672923934,215,1672923934
8601,217990000029918992,20230105,1672923079,9031021000441726,10,9022021480635001,152,1672922543,152,1672922543
8602,217990000029918992,20230105,1672923466,9031021000441726,51,9022021480677001,-24,1672924880,0,1672924904
8603,217990000029918992,20230105,1672923079,9031021000441726,9,9022021480699001,142,1672922495,142,1672922495

In [6]:
# Get average amount delays per trip
average_delays = deduplicated.groupby('trip_id')[['arrival_delay', 'departure_delay']].mean().reset_index()
average_delays

                trip_id  arrival_delay  departure_delay
0    217990000023580585     -18.185185        27.814815
1    217990000023581154       0.307692         6.269231
2    217990000023633371    -221.214286       -35.142857
3    217990000025164429      61.037037        77.333333
4    217990000025588572      50.709677        78.451613
..                  ...            ...              ...
285  217990000029906029     131.097561       144.682927
286  217990000029906077     122.219512       140.634146
287  217990000029916217     210.448276       218.413793
288  217990000029916276     164.423077       176.865385
289  217990000029918992     110.307692       125.038462

[290 rows x 3 columns]

In [4]:
deduped_df = kt.drop_tripupdates_duplicates(df_filtered)

average_delays = deduped_df.groupby('trip_id')[['arrival_delay', 'departure_delay']].mean().reset_index()


average_delays

                trip_id  arrival_delay  departure_delay
0    217990000023580585     -18.185185        27.814815
1    217990000023581154       0.307692         6.269231
2    217990000023633371    -221.214286       -35.142857
3    217990000025164429      61.037037        77.333333
4    217990000025588572      50.709677        78.451613
..                  ...            ...              ...
285  217990000029906029     131.097561       144.682927
286  217990000029906077     122.219512       140.634146
287  217990000029916217     210.448276       218.413793
288  217990000029916276     164.423077       176.865385
289  217990000029918992     110.307692       125.038462

[290 rows x 3 columns]

## Merging with static data
`pykoda` has a `get_data_range` function which shows how to merge the realtime GTFS TripUpdates with the static GTFS data.
Currently unsure if we need any static data for the prediction task.

In [ ]:
import koda.koda_pipeline as kpi
from shared.constants import OperatorsWithRT, FeedType

operator = OperatorsWithRT.X_TRAFIK
date = "2023-01-05"
feed_type = FeedType.TRIP_UPDATES

tu_df, map_df = kpi.get_koda_data_for_day(date, operator)
# Only keep trips that start on the specified date
tu_df = tu_df[tu_df['start_date'] == date.replace("-", "")]

trips_df = sp.read_static_data_to_dataframe(operator, StaticDataTypes.TRIPS, date, kp.DATA_DIR)
routes_df = sp.read_static_data_to_dataframe(operator, StaticDataTypes.ROUTES, date, kp.DATA_DIR)
# Drop unnecessary columns
tu_df = tu_df.drop(columns=['start_date', 'schedule_relationship', 'timestamp',
       'vehicle_id', 'stop_sequence', 'stop_id', 'arrival_delay',
       'arrival_time', 'arrival_uncertainty', 'departure_delay',
       'departure_time', 'departure_uncertainty'])
trips_df = trips_df.drop(columns=['service_id', 'trip_headsign', 'direction_id',
       'shape_id'])
routes_df = routes_df.drop(columns=['agency_id', 'route_short_name', 'route_long_name', 'route_desc'])

# Cast trip_id to string
tu_df['trip_id'] = tu_df['trip_id'].astype(str)
trips_df['trip_id'] = trips_df['trip_id'].astype(str)

In [ ]:
# Join with static data on trip_id
tu_df = tu_df.merge(trips_df, on='trip_id', how='inner')
tu_df

In [37]:
# Join with static data on route_id
tu_df = tu_df.merge(routes_df, on='route_id', how='inner')
# Remove duplicate trip_ids
tu_df = tu_df.drop_duplicates(subset=['trip_id'])
# Map route_type to strings with route_types dict
tu_df['route_type_description'] = tu_df['route_type'].map(route_types)
tu_df

,id,trip_id,route_id,route_type,route_type_description
0,217990500824411634,217990000029109589,9011021010000000,700,Bus Service
396,217990500804920022,217990000026972559,9011021090100000,700,Bus Service
469,217990500815166884,217990000029698593,9011021004700000,700,Bus Service
659,217990500803908172,217990000029016228,9011021090200000,700,Bus Service
701,217990500824815586,217990000029111007,9011021010000000,700,Bus Service
...,...,...,...,...,...
834493,217990500819573839,217990000029718317,9011021030000000,100,Railway Service
834556,217990500804966010,217990000029004546,9011021090100000,700,Bus Service
834558,217990500830763102,217990000029901675,9011021090300000,700,Bus Service
834695,217990500829060945,217990000029045848,9011021091200000,700,Bus Service
834812,217990500803909156,217990000029016894,9011021090200000,700,Bus Service

In [33]:
# Count how many bus and train services there are (Route type 700 and 100)
service_counts = tu_df.groupby('route_type_description').size()
service_counts

route_type_description
Bus Service        2833
Railway Service      70
dtype: int64

In [3]:
import koda.koda_pipeline as kpi
from shared.constants import OperatorsWithRT, FeedType

operator = OperatorsWithRT.X_TRAFIK
date = "2023-01-05"
feed_type = FeedType.TRIP_UPDATES

tu_df, map_df = kpi.get_koda_data_for_day(date, operator)
map_df

get_trip_updates_for_day already completed for xt on 2023-01-05 with version 2

,id,trip_id,route_id,route_type,route_type_description
0,217990500811380121,217990000029636565,9011021005300000,700,Bus Service
1,217990500831603630,217990000029915771,9011021002500000,700,Bus Service
5,217990500823868795,217990000026214588,9011021014100000,700,Bus Service
8,217990500816697539,217990000028631251,9011021004100000,700,Bus Service
54,217990500819573813,217990000029718317,9011021030000000,100,Railway Service
...,...,...,...,...,...
834801,217990500804966010,217990000029004546,9011021090100000,700,Bus Service
834803,217990500830763102,217990000029901675,9011021090300000,700,Bus Service
834940,217990500829060945,217990000029045848,9011021091200000,700,Bus Service
835057,217990500803909156,217990000029016894,9011021090200000,700,Bus Service
835783,217990500828590669,217990000029047775,9011021091200000,700,Bus Service